html {
    	min-height: 100%;
    }
    
    body {
		min-height: 100%;
        height: 100%;
        font: 16px "Helvetica", sans-serif;
        background: #91eae4;    
    	background: -webkit-linear-gradient(to bottom, #91EAE4, #86A8E7, #7F7FD5);
        background: linear-gradient(to bottom, #91EAE4, #86A8E7, #7F7FD5);
        cursor: default;
        list-style-type: none;
        font-size: 20px;
    }
    h2 {
    	color: white;
    	margin: 0;
    	padding: 10px 28px;
        background: #86a8e7;
    }
    	.container {
        	height: 98vh;
			display: grid;
            grid-column-gap: 20px;
            grid-template-columns: auto auto auto;
  			padding: 0 calc(5vw - 17px);
			
        }
       
       .block {
            box-shadow: 0 0 1em gray;
            background: white;
            grid-template-rows: 100px 1fr;
       }
       .row {
       grid-template-rows: 100px 1fr;
       }
         li {
    	background: #f7f7f7;
    	height: 100px;
    	line-height: 100px;
	}
    .cards {
    	list-style-type: none;
    	margin: 0;
    	padding: 0;
	}
    .cards li span.todo-text {
   		 padding: 0 8px;
	}
    .cards li:nth-child(2n) {
    	background: #edf1f5;
	}